USE [master]
GO
/****** Object:  Database [mywebsql]    Script Date: 2018/6/19 12:52:33 ******/
CREATE DATABASE [mywebsql] ON  PRIMARY 
( NAME = N'mywebsql', FILENAME = N'E:\asp.net\0608\0608\sql\mywebsql.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mywebsql_log', FILENAME = N'E:\asp.net\0608\0608\sql\mywebsql_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mywebsql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mywebsql]
GO
/****** Object:  Table [dbo].[UserEssay]    Script Date: 2018/6/19 12:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserEssay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nchar](20) NOT NULL,
	[author] [nvarchar](16) NOT NULL,
	[textpath] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserEssay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 2018/6/19 12:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](16) NOT NULL,
	[nick] [nchar](10) NULL,
	[pwd] [nvarchar](16) NOT NULL,
	[year] [nchar](10) NULL,
	[mouth] [nchar](10) NULL,
	[day] [nchar](10) NULL,
	[sex] [char](10) NOT NULL,
	[head] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserEssay] ON 

INSERT [dbo].[UserEssay] ([id], [title], [author], [textpath]) VALUES (4, N't2                  ', N'xiaoming', N'/txt/t1.txt')
INSERT [dbo].[UserEssay] ([id], [title], [author], [textpath]) VALUES (5, N't3                  ', N'bob', N'/txt/t1.txt')
INSERT [dbo].[UserEssay] ([id], [title], [author], [textpath]) VALUES (7, N't1                  ', N'admin', N'/txt/t1.txt')
SET IDENTITY_INSERT [dbo].[UserEssay] OFF
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([id], [UserName], [nick], [pwd], [year], [mouth], [day], [sex], [head]) VALUES (1, N'admin', N'123       ', N'123', N'1997      ', N'12        ', N'12        ', N'男        ', N'/img/touxiang.png')
INSERT [dbo].[UserLogin] ([id], [UserName], [nick], [pwd], [year], [mouth], [day], [sex], [head]) VALUES (9, N'xiaoming', N'mmm       ', N'123', N'1997      ', N'1         ', N'1         ', N'女        ', N'/img/girl.png')
INSERT [dbo].[UserLogin] ([id], [UserName], [nick], [pwd], [year], [mouth], [day], [sex], [head]) VALUES (10, N'bob', N'bob       ', N'123', N'1999      ', N'9         ', N'9         ', N'男        ', N'/img/boy.png')
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
ALTER TABLE [dbo].[UserLogin] ADD  CONSTRAINT [DF_UserLogin_head]  DEFAULT (N'/img/touxiang.png') FOR [head]
GO
USE [master]
GO
